{
  "env": {
    "production": {
      "presets": [["@babel/env", { "modules": false, "useBuiltIns": "usage" }]],
      "plugins": ["@babel/transform-runtime", "@babel/external-helpers"]
    },

    "test": {
      "presets": [["@babel/env"]],
      "plugins": ["@babel/transform-runtime"]
    }
  }
}
